
/* Header */
.css-xhm2t3{
        background:#003f5c;
}

/* Body */
.css-18e3th9{
        background:#003f5c;
}

div[data-testid="stMarkdownContainer"]{
        text-align: center;
}

/* Description left */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div > div:nth-child(1) > div > div:nth-child(3) > div.css-19qgf1r.e1tzin5v2 > div:nth-child(1) > div > div:nth-child(1) > div > div{
        text-align: left;
}

/* Analysis title left */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div > div:nth-child(1) > div > div:nth-child(4) > div.css-19qgf1r.e1tzin5v2 > div:nth-child(1) > div > div:nth-child(1) > div > div{
        text-align: left;
}

/* Analysis text left */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div > div:nth-child(1) > div > div:nth-child(4) > div.css-19qgf1r.e1tzin5v2 > div:nth-child(1) > div > div:nth-child(2) > div > div{
        text-align: left;
}

/* Purple Blocks */
div[data-testid="stHorizontalBlock"] {
        border:10px;
        padding:20px;
        border-radius: 10px;
        background:#2f4b7c;
}

/* Disable Plots Blocks */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div > div:nth-child(1) > div > div:nth-child(7){
        border:0px;
        padding:0px;
        border-radius: 0px;
        background:#003f5c;
}

/* Map Block */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div > div:nth-child(1) > div > div:nth-child(7) > div.css-1hzbxjf.e1tzin5v2{
        border:10px;
        padding:20px;
        border-radius: 10px;
        background:#2f4b7c;
}

/* Bar Plot Block */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div > div:nth-child(1) > div > div:nth-child(7) > div.css-1i1hhp5.e1tzin5v2{
        border:10px;
        padding:20px;
        border-radius: 10px;
        background:#2f4b7c;
}

/* Center Flags */
.css-1kymt8f{
        display: flex;
        align-items: center;
}

/* Flags Border */
div[data-testid="stImage"] {
        border: 3px solid #16425B;
}

/* Push Map Down */
.user-select-none{
        margin-top:100px;
}