div[data-testid="stHorizontalBlock"] {
        border:10px;
        padding:20px;
        border-radius: 10px;
        background:#2f4b7c;
}
.css-1kymt8f{
        display: flex;
        align-items: center;
}

